@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw !important;
    height: 100vh !important;
    background: #ccc;
    font-family: 'Poppins', sans-serif;
    background-image: url('https://source.unsplash.com/1600x900/?landscape');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
}

.search-bar {
    font-size: 20px;
    border-radius: 30px;
    width: 80%;
    max-width: 300px;
    margin: 20px;
    padding: 10px 20px;
}

.btn-search {
    font-size: 40px;
    margin-top: 25px;
}


.card {
    background-color: #111;
    padding: 1em;
    width: 60%;
    height: 80%;
    border-radius: 30px; 
    opacity: 0.8;
    color: #fff;
}

.search {
    display: flex;
    justify-content: center;
}


.city {
    text-align: center;
}

.current .temp {
    margin: 0 auto;
    text-align: center;
}

.current .degree {
    font-size: 80px;
    text-align: center;
}

.current .condition {
    text-align: center;
    font-size: 30px;
}

.current .local_time {
    text-align: center;
}

.current .sub-info {
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    margin: 20px auto;
}

.current .sub-info span {
    margin-left: 30px;
}

.forecast {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
}

.forecast .day {
    width: calc(100%/6);
    border-radius: 5px;
}

.forecast .day:hover {
    background-color: #696969;
}

.forecast .day_name, 
.forecast .minmax_temp, 
.forecast .condition{
    text-align: center;
}

.forecast .icon {
    display: flex;
    justify-content: center;
}

.max_temp {
    font-size: 30px;
    margin-right: 5px;
}

/* For tablet */
@media only screen and (max-width: 912px) {
    .day_5 {
        display: none;
    }

    .forecast {
        display: flex;
        flex-wrap: wrap;
        gap: 1.5rem;
    }

    .forecast .day {
        width: calc(100%/2.5);
    }
}

/* For mobile */
@media only screen and (max-width: 560px) {
    .card {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
}

@media only screen and ((max-width: 560px) and (max-height:750px)) {
    .day_3, .day_4 {
        display: none;
    }
}

@media only screen and (max-width: 375px) {
    .day_3, .day_4 {
        display: none;
    }
}

@media only screen and (max-width: 280px) {
    .sub-info {
        display: none !important;
    }
}

